body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  background: #F5F5F5;
  font-size: 12px;
}

h1{
}

#container{
  position: relative;
  margin: 0 auto;
  width: 980px;
}

#logo{
  position:relative;
  height: 120px;
  top: 20px;
  left: 0px;
}

#menu{
  position:absolute;
  top: 26px;
  right: 10px;
}

#menu p{
	font-size: 18px;
}
#menu p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#menu p a:hover{
	color: #333;
}
#menutext{
	float:left;
	margin-right:10px;
}
#kth{
	float:right;
	top:0px;
	right:0px;
	margin-top:7px;
}
#info p{
	font-size: 16px;
}
#info{
  position: relative;
  float:left;
  left: 0px;
  margin: 0 auto;
  width: 500px;
}
#right_column{
  float:right;
  right: 0px;
 top: 0;
  margin: 0 auto;
  width: 240px;
}
#info p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#info p a:hover{
	color: #333;
}
#right_column p{
	font-size: 14px;
	text-align: right;
}
#right_column p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#right_column p a:hover{
	color: #333;
}

#right_column small{
	font-size: 15px;
}

#equal{
  position:absolute;
  font-size: 150px;
  font-weight: bold;
  top: 142px;
  left: 444px;
}

.converter{
  position:relative;
  width: 400px;
}

.converter ul.add-subtract{
  position:absolute;
  margin: 0;
  padding: 0;
  list-style:none;
  width: 150px;
}

#left ul.add-subtract{
  top:8px;
  left: 292px;
}
#right ul.add-subtract{
  top:8px;
  left: 292px;
}

.converter ul.add-subtract li{
  float:left;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  background: #ACACAC;
  color:black;
  text-align:center;
  font-weight: bold;
  font-size: 26px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  cursor:pointer;
}

.converter ul.add-subtract li.add{
  background: #ACACAC url(/images/add.png) no-repeat 6px 6px;
}
.converter ul.add-subtract li.subtract{
  background: #ACACAC url(/images/subtract.png) no-repeat 6px 6px;
  
}
.converter ul.add-subtract li.r{
  background: #ACACAC url(/images/r.png) no-repeat 6px 6px;
  
}

.converter ul.add-subtract li.add:hover{
  background: #d1d1d1 url(/images/add.png) no-repeat 6px 6px !important;
}

.converter ul.add-subtract li.subtract:hover{
  background: #d1d1d1 url(/images/subtract.png) no-repeat 6px 6px !important;

}
.converter ul.add-subtract li.r:hover{
  background: #d1d1d1 url(/images/r.png) no-repeat 6px 6px !important;

}
.converter .inner-converter{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #d1d1d1;
  height: 261px;
  border: 4px solid #A5A5A5;
  cursor:pointer;
}
.converter .inner-converter .number{
  width:100%;
  font-size: 150px;
  font-weight:bold;
  text-align:center;
  text-shadow: 0 0 3px black;
}
.converter .inner-converter .unit{
  width:100%;
  font-size: 30px;
  font-weight:bold;
  text-align:center;
}

.converter .inner-converter .unit span{
  font-size: 30px;
}

.converter .conversions{
  width: 100%;
  height:0;
  background: #ACACAC;
}
.converter .conversions ul{
  list-style:none;
  margin: 0 0 0 0;
  padding:0;
}

.converter .conversions ul li{
  margin: 5px;
  padding: 3px 6px 3px 6px;
  color:black;
  float:left;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 11px;
  font-weight:bold;
  cursor:pointer;
  text-transform:uppercase;
}
.converter .conversions ul li:hover{
  text-shadow: 0 0 1px black;
}

.converter .conversions h2{
  margin: 25px 0 5px 0;
  padding: 0;
}

.converter .fade{
  position:absolute;
  top: 4px;
  left: 4px;
  background: url(/images/fade.png);
  width: 392px;
  height: 111px;
}
#left{
  float:left;
}

#right{
  float:right;
}
