<div id="info">
<p>In everyday life we encounter more and more carbon dioxide information. However, it's difficult to understand the magnitude of the numbers told. What does a kilogram of CO2 really mean?</p>
<p><b>Convert</b> between a CO2 amount to other units as cups of tea or hours in flight.</p>
<p><b>Compare</b> between two different emissions, for instance how many carrots are equivalent to a kilo of beef?</p>
<p>Use our <b>API</b> to convert CO2 to a more understandable number and use it on your own site.</p>	

<p>Our carbon data comes from <a href="http://amee.com" target="_blank">AMEE</a> and from <a href="http://www.kth.se" target="_blank">KTH research.</a> Some assumptions were made in this application and the data is mostly is localized to Sweden. <a href="http://docs.google.com/View?id=dcqj9r34_206vr9hpqg8" target="_blank">See all references.</a></p>
<p>The technologies behind the site includes HTML, Rails and jQuery. The project is released as open source and the code can be found at <a href="http://github.com/hinke/Carbon.to" target="_blank">GitHub.</a></p>	
<p>Statistics about the usage can be found <a href="/showlog">here</a>.</p>
<br/>
</div>
<div id="right_column">
	<br/>
	<img src="http://farm3.static.flickr.com/2485/3858737427_b8bec63a19_m.jpg"><br/>
	<p>Carbon.to is an application from the <a href="http://sustainablecommunications.org" target="_blank">Centre for Sustainable Communications</a> at KTH, Stockholm.<p/>
		<p>Carbon.to was developed by <a href="http://david.kjelkerud.se" target="_blank">David Kjelkerud</a>, <a href="http://henrikberggren.com" target="_blank">Henrik Berggren</a> and <a href="http://www.jorgezapico.com" target="_blank">Jorge Zapico</a> at Ecomo09, an environmental hacking day in London.</p>

</div>