<div id="info">
<p>In our everyday life we encounter more and more carbon dioxide information. We have however difficult in understanding the meaning of this numbers we get. How much is a kilogram of CO2?</p>
<p><b>Convert</b> between a CO2 amount to other units as cups of tea warmed or hours of flight.</p>
<p><b>Compare</b> between two different emissions, for instance how many carrots are equivalent to a kilo of beef meat?</p>
<p>Use our <b>API</b> to convert CO2 to a more understandable unit and use it in your own site.</p>	



<p>Our carbon data comes from <a href="http://amee.com" target="_blank">AMEE</a> and from <a href="http://www.kth.se" target="_blank">KTH research.</a>. Many assumptions were made in the data, and most is localized to Sweden. The technologies behind the site includes HTML, Rails and jQuery.</p>	
<br/>
</div>
<div id="right_column">
	<br/>
	<img src="http://farm3.static.flickr.com/2485/3858737427_b8bec63a19_m.jpg"><br/>
	<p>Carbon.to is built by <a href="http://david.kjelkerud.se" target="_blank">David Kjelkerud</a>, <a href="http://henrikberggren.com" target="_blank">Henrik Berggren and <a href="http://itsagreenmobileworld.com" target="_blank">Jorge Zapico</a> at Ecomo09, an environmental hacking day in London. They were sent there by the <a href="http://sustainablecommunications.org" target="_blank">Centre for Sustainable Communications</a> at KTH, Stockholm</p>
</div>