<div id="info">
<p>Welcome to our public API!</p>
<p>You can get all the possible conversions at <a href="http://carbon.to/all">carbon.to/all</a></p>
<p>Once you decide in which unit to convert, output is available in JSON and XML, for instance <a href="http://carbon.to/beers">carbon.to/beers</a>. For specifying JSON as output call <a href="http://carbon.to/beers.json">carbon.to/beers.json</a></p>	
<p>Use the parameter ?co2=amount for specifying the amount of CO2 to be converted: <a href="http://carbon.to/beers?co2=200">carbon.to/beers?co2=200</a></p>
<p>Enjoy!</p> 
</div>
	