<div id="container">
  <h1>CARBON.TO</h1>
  
  <div id="left" class="converter">
    
    <ul class="add-subtract">
      <li class="add">+</li>
      <li class="subtract">-</li>
    </ul>
    
    <div id="apples" class="inner-converter">
      <div class="number">42</div>  
      <div class="unit" style="color: #1AA336;text-shadow: 0 0 3px #18862E;">
        kg CO<span>2</span>
      </div>
    </div>
    <div class="conversions"></div>
    <div class="toggle-conversions"></div>
  </div>
  
  
  <div id="equal">=</div>
  
  <div id="right" class="converter">
    <div id="eggs" class="inner-converter">
      <div class="number">103</div>  
      <div class="unit" style="color: #D8673B;text-shadow: 0 0 3px #D8673B;">
        tomatoes
      </div>
    </div>
    <div class="conversions"></div>
    <div class="toggle-conversions"></div>
  </div>
  
</div>